@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.line{
border-right: 2px solid rgb(255, 255, 255);
color: auto;
font-family: 'Special elite', monospace;
font-size: 3em;
text-align: center;
margin-right: 200px;
white-space: nowrap;
overflow: hidden;
}

.typing-animation{
    animation: blinkcursor 700ms infinite normal, typing 2.10s steps(40) 1s normal both;
}

@keyframes typing{
    from{
width: 0;
    }
    to{
width: 5.10em;
    }
}
@keyframes blinkcursor {
    from{
        border-right-color: rgb(255, 255, 255);
    }
    to{
        border-right-color: transparent;
    }
}
#mika{
    margin-right: auto;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
}
#pisca{
    margin-top: 3.5em;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
}

.navbar {
    width: 100%;
    background-color:transparent;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  
  /* Current/active navbar link */
  .active {
    background-color: transparent;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  header{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB );
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change{
    0%{
        background-position: 0 50%;
}
    50%{
        background-position: 100% 50%;
}
    100%{
        background-position: 0 50%;
}
}

section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #23D5AB, #23A6D5, #E73C7E , #EE7752 );
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite; 
}

.quad{
  
  background: rgb(70, 70, 70);
  position: relative;
  width: 80%;
  height: 210px;
  margin: 0 auto;
  border: solid 15px rgb(70, 70, 70);
  border-radius: 10px;
}

#teamo{
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255, 0.7);

}